{% include "_base.html" %}
{% block style %}
{% endblock style %}
{% block content %}
    <header>
        <div class="text-center mt-24">
            <h1 class="text-5xl font-extrabold dark:text-white">List of components</h1>
            <div class="mt-4">
                {% for component in components %}
                    <p>
                        <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                           href="{{ component.url }}">{{ component.name }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </header>
{% endblock content %}
