pre {
  font-size: 14px !important;
  max-height: 100vh;
  overflow: scroll;
  width: 100%;
}

@media (max-width: 768px) {
  pre {
    font-size: 12px !important;
  }
}

/* Improve styling of Copy button */
div.code-toolbar > .toolbar {
  top: 0.8em;
  right: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  padding: 0.2em 0.5em;
  border-radius: 0.3rem;
}
