pre {
  font-size: 14px !important;
  max-height: 100vh;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

pre,
code {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  pre,
  code {
    font-size: smaller !important; /* Reduce font size */
  }
}

div.code-toolbar {
  width: 100%;
}

div.code-toolbar > .toolbar {
  top: 0.8em;
  right: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  padding: 0.2em 0.5em;
  border-radius: 0.3rem;
}
